body {
  font-family: "Open Sans", sans-serif;
}

.half-width {
  width: 30%;
  margin-left: 20%;
  padding-left: 2%;
  float: left;
}
.half-width-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-left: 20%;
  padding-left: 2%;
}
img {
  border-radius: 50%;
  width: 600px;
}
.half-width img {
  padding-top: 50px;
  width: 100%;
}
.top-banner {
  /* background-image: url(./images/profile.png); */
  background-color: lightgray;
}
.name-highlight {
  color: blue;
}
.link-button {
  text-decoration: none;
  /* background-image: linear-gradient(45deg, lightSalmon, tomato); */
  background-color: #173b6c;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/* Header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: rgb(6, 132, 174);
  overflow-y: auto;
}
#header .profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #2c2f3f;
}
#header .profile-2 img {
  margin: 15px auto;
  display: inline;
  width: 50px;
  border: 8px solid #2c2f3f;
}
#header .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}
#header .profile h1 a,
#header .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}

/* Navigation */
.nav-menu {
  padding: 30px 0 0 0;
}
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}
.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}
.nav-menu a i,
.nav-menu a:focus i {
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
}
.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover > a {
  text-decoration: none;
  color: #fff;
}
.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover > a i {
  color: #149ddd;
}

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #173b6c;
}

.section-title p {
  margin-bottom: 0;
}

/* About */
#main {
  margin-left: 325px;
  margin-right: 30px;
}
.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #173b6c;
}
.about .content ul {
  list-style: none;
  padding: 0;
}
.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.about .content ul strong {
  margin-right: 10px;
}
.about .content ul i {
  font-size: 16px;
  margin-right: 15px;
  color: #149ddd;
  line-height: 0;
}
.about .content p:last-child {
  margin-bottom: 0;
}

/* skills */
.skills,
#home {
  padding-left: 325px;
  padding-right: 30px;
  background-color: lightgray;
}
.progress {
  height: 10px;
  background: white;
  border: none;
  margin-bottom: 40px;
  overflow: hidden;
  position: relative;
}

.progress-title {
  width: 100%;
  height: auto;
}
.progress-title h3 {
  font-size: 18px;
  font-weight: 500;
  color: black;
  margin: 0 0 10px;
}

.progress .progress-bar {
  animation: animate-positive 2s;
}

@-webkit-keyframes animate-positive {
  0% {
    width: 0;
  }
}
@keyframes animate-positive {
  0% {
    width: 0;
  }
}

/* Latest Work */
#latestWork {
  padding-left: 325px;
  padding-right: 30px;
  background-color: white;
}
#latestWork h2 {
  font-weight: 700;
  font-size: 26px;
  color: #173b6c;
}
.section-title-2 {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

/* footer */
#footer {
  padding: 15px;
  color: #f4f6fd;
  font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 9999;
}
#footer a {
  text-decoration: none;
  color: yellow;
}
#footer .copyright {
  text-align: center;
}
#footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #eaebf0;
}
@media (max-width: 1199px) {
  #footer {
    position: static;
    width: auto;
    padding-right: 20px 15px;
  }
}

/* Contact */
#contact {
  padding-top: 30px;
  padding-left: 325px;
  padding-right: 30px;
  background-color: hsla(0, 0%, 0%, 0.862);
}
#contact h2 {
  font-weight: 700;
  font-size: 26px;
  color: tomato;
  text-align: center;
}
.input-style {
  height: 40px;
  width: 600px;
  background-color: black;
  color: white;
}
.input-style-2 {
  height: 100px;
  width: 600px;
  background-color: black;
  color: white;
  padding-bottom: 62px;
}

.btn-style {
  margin-top: 40px;
  margin-left: 282px;
  padding: 8px 40px;
  background-color: tomato;
  color: white;
  border: none;
  border-radius: 5px;
}

/* Responsiveness */

/* header */
@media (max-width: 1199px) {
  #header {
    left: -300px;
  }
  #main {
    margin-left: 0;
  }
  #home {
    margin-left: -300px;
  }
  #skills {
    margin-left: -300px;
  }
  #latestWork {
    margin-left: -300px;
  }
}

/* contact */
@media (max-width: 1199px) {
  #contact {
    position: static;
    width: auto;
    padding: 20px;
  }
}
@media (max-width: 991px) {
  #contact {
    position: static;
    width: auto;
    padding: 20px;
  }
  #contact .btn-style {
    position: relative;
    margin-left: -4px;
  }
}
/* footer */
@media (max-width: 1199px) {
  #footer {
    position: static;
    width: auto;
    padding: 20px;
    color: black;
    background-color: white;
  }
  #footer .credits {
    color: black;
    background-color: white;
  }
  #footer a {
    color: blue;
  }
}

@media (max-width: 768px) {
  #footer {
    position: static;
    width: auto;
    margin-left: 200px;
    color: black;
    background-color: white;
  }
  #footer .credits {
    color: black;
    background-color: white;
  }
}
